
body {
    position: absolute;
    top: 150px;
    left: 500px;
    background-color:lightgrey;
}

.photo-viewer {
    width: auto;
    height: max-content;
    /*height: 1500px;*/
    border: black solid thin;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.photo-container{
    width: auto;
    max-height: 225px;
    height: fit-content;
    border: black solid thin;
    padding: none;
    display: flex;
    /*justify-content: center;*/

}

.photo{
    width: 300px;
    height: auto;
    margin: 0px;
    border: black solid thin;
   /* position: relative;
    top: 0px;*/
    /*display: flex;
    justify-content: center;*/

}

.text-box {
    position: relative;
    right: 270px;
    top:55px;
    height: 60px;
    background: black;
    color: white;
    padding-left: 10px;
    opacity: 0.8;
    border: black solid thin;
    font-size: 8px;
    margin: 0px;
    /*font-size: 30px;*/
    /*padding-right: 20px;*/
    /*height: 250px;*/    
    /*width: 95%;*/
    }

button {
    width: 100%;
    background-color: white;
    border: black solid thin;
    cursor: pointer;
}

.arrow {
width: 10px;
}

#right {
    transform: rotate(0.5turn) ;
}

.thumbnail-container {
    display: flex;
    align-items: center;
}

.box {
  /*  display: flex;
    align-items: center;*/
    position: relative;
    left: 30px;
    width: 50px;
    height: 50px;
    margin: 10px;
  /*  border: black solid thin;*/
}


.title {
    display: none;
    position: relative;
    background: grey;
    color: white;
    border-radius: 5px;
    padding: 5px;
    top: -50px;
  }
  
  /*.thumbnail-container:hover.title  {
    display: block;
  }*/
